.main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin: 4em;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.map {
    aspect-ratio: 1;
    margin-top: 2rem;
    width: 50%;
}

@media only screen and (max-width: 750px) {
    .container {
        margin: 4em 1em;
    }

    .buttons {
        flex-direction: column;
    }

    .map {
        width: 90%;
    }
}