.container {
    overflow: hidden;
    justify-content: center;
}

.heightReference {
    height: 100vh;
    position: absolute;
    opacity: 0;
}

.imageParallax {
    position: relative;
    min-width: 100%;
    height: 150%;
    background-size: cover;
    background-repeat: no-repeat;
}