.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.logo {
    position: absolute;
    width: 40em;
    max-width: calc(100vw - 4em);
}

.base {
    width: 40em;
    max-width: calc(100vw - 4em);
    opacity: 0;
}