.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 3em;
    background-color: var( --color-red);
    border: none;
    padding: 1em 1.5em;
    border-radius: 2em;
    color: var(--color-white);
    transition: transform 0.3s, background-color 0.3s;
}

.button * {
    fill: var(--color-white);
}

.button svg {
    padding: 0;
    height: 1.75em;
    width: 1.75em;
}

.button div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: var(--color-white);
    transition: transform 0.3s;
}


.button:hover {
    background-color: var(--color-light-red);
}

.button:hover > * {
    transform: scale(95%);
}

.button:active {
    transition: transform 0.05s;
    transform: scale(95%);
}