.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 2em;
    width: 100vw;
    height: 5em;
    background-color: var(--nav-bg);
    backdrop-filter: blur(6px);
    box-shadow: var( --shadow);
}

.logo {
    cursor: pointer;
    position: absolute;
    margin: 0.5em;
    aspect-ratio: 192/64;
    height: 4em;
}

.menu {
    display: flex;
    justify-self: center;
}

.quickAccess {
    display: flex;
    justify-self: end;
}

.buttonMenu {
    display: none;
}

@media only screen and (max-width: 500px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 4em;
        width: 100%;
        padding: 0 0 0 1em;
    }

    .logo {
        height: 3em;
    }

    .menu,
    .quickAccess {
        display: none;
    }

    .buttonMenu {
        display: flex;
    }

    .logo:active {
        transform: scale(96%);
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 0 0 1em;
    }

    .menu,
    .quickAccess {
        display: none;
    }

    .buttonMenu {
        display: flex;
    }

    .logo:active {
        transform: scale(96%);
    }
}

@media only screen and (min-width: 500px) {
    .logo:hover {
        transform: scale(96%);
    }
}