.container {
    display: none;
    flex-direction: column;
    z-index: 1001;
    top: 0;
    left: -100vw;
    position: fixed;
    width: calc(100vw - 4rem);
    height: 100vh;
    background-color: var(--nav-bg);
    backdrop-filter: blur(8px);
    box-shadow: var( --shadow);
    transition: background-color 0.5s, left 0.5s, opacity 0.3s;
    opacity: 0;
}

.modal {
    z-index: -999;
    top: 4rem;
    position: fixed;
    left: calc(-100vw + 4rem);
    width: 100vw;
    height: calc(100vh - 4rem);
}

.options:nth-child(1) {
    display: flex;
    flex-direction: row;
    height: 4rem;
}

.options:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.display {
    left: 0;
    opacity: 1;
}

.modal.display {
    left: calc(100vw - 4rem);
}

@media only screen and (min-width: 500px) {
    .container {
        width: 16rem;
    }

    .container * {
        font-size: var(--ff-400);
    }

    .options:nth-child(1) {
        height: 5rem;
        justify-content: space-between;
    }

    .modal {
        top: 5rem;
        width: calc(100vw - 16rem);
        backdrop-filter: blur(8px);
    }

    .modal.display {
        left: 16rem;
    }
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
    }
}