@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------------------- */
/* ----------------- RESETS ------------------ */
/* ------------------------------------------- */
body,
h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
p,
button,
iframe,
img,
svg {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 300;
}

img,
button {
    user-select: none;
}

button {
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
}

/* ------------------------------------------- */
/* --------------- VARIABLES ----------------- */
/* ------------------------------------------- */

/* PALETA DE COLORES */
:root {
    --palette-red:          353,    100%;
    --palette-palid-red:    353,    95%;
    --palette-darkblue:     240,    6%;
    --palette-grayscale:    0,      0%;
}

/* COLORES */
body {
    --color-red:                        hsl( var( --palette-red),       50%,    1   );
    --color-light-red:                  hsl( var( --palette-red),       56.5%,  1   );
    --color-transparent-red:            hsl( var( --palette-red),       50%,    0.75);
    --color-white:                      hsl( var( --palette-grayscale), 100%,   1   );
    --color-transparent-white:          hsl( var( --palette-grayscale), 100%,   0.75);
    --color-black:                      hsl( var( --palette-grayscale), 0%,     1   );
    --color-transparent-black:          hsl( var( --palette-grayscale), 0%,     0.25);
    --color-gray:                       hsl( var( --palette-grayscale), 50%,    1   );
    --color-light-gray:                 hsl( var( --palette-grayscale), 90%,    1   );
    --color-bluish-black:               hsl( var( --palette-darkblue),  12%,    1   );
    --color-bluish-darker-gray:         hsl( var( --palette-darkblue),  16%,    1   );
    --color-bluish-transparent-gray:    hsl( var( --palette-darkblue),  16%,    0.85);
    --color-bluish-lighter-gray:        hsl( var( --palette-darkblue),  20%,    1   );
    --color-transparent:                hsl( var( --palette-grayscale), 0%,     0   );

}

/* COLORES EN MODO OSCURO */
body.dark-mode {
    --color-red:                        hsl( var( --palette-palid-red), 62%,    1   );
    --color-light-red:                  hsl( var( --palette-palid-red), 67.5%,  1   );
    --color-transparent-red:            hsl( var( --palette-palid-red), 62%,    0.75);
    --color-gray:                       hsl( var( --palette-grayscale), 75%,    1   );

}

/* ESTRUCTURA DE COLORES */
body {
    --color-bg: var( --color-white);
    --color-text: var( --color-black);
    --nav-bg: var(--color-transparent-white);
    --color-box-item: var( --color-white);

    --shadow: 0 0 0.75rem var( --color-transparent-black);
    --bar-btn: var( --color-transparent-red);
}

/* ESTRUCTURA DE COLORES MODO OSCURO */
body.dark-mode {
    --color-bg: var( --color-bluish-darker-gray);
    --color-text: var( --color-white);
    --nav-bg: var(--color-bluish-transparent-gray);
    --color-box-item: var( --color-bluish-lighter-gray);
}

/* TAMAÑOS DE FUENTE */
:root {
    font-size: 16px;
}

/* MEDIDAS PREESTABLECIDAS DE TAMAÑOS DE FUENTE */
body {
    --ff-900: 4rem;
    --ff-600: 2rem;
    --ff-500: 1.625rem;
    --ff-400: 1.25rem;
    --ff-300: 1.125rem;
}

/* ------------------------------------------- */
/* --------------- UTILIDADES ---------------- */
/* ------------------------------------------- */
/* COLORES */
.fc-red {
    color: var( --color-red);
}
.fc-light-red {
    color: var( --color-light-red);
}
.fc-gray {
    color: var( --color-gray);
}

/* TAMAÑOS DE FUENTE */
.fs-900 {
    font-size: var(--ff-900);
}
.fs-600 {
    font-size: var(--ff-600);
}
.fs-500 {
    font-size: var(--ff-500);
}
.fs-400 {
    font-size: var(--ff-400);
}
.fs-300 {
    font-size: var(--ff-300);
}

/* PESOS DE FUENTE */
.fw-700 {
    font-weight: 700;
}
.fw-600 {
    font-weight: 600;
}
.fw-500 {
    font-weight: 500;
}
.fw-400 {
    font-weight: 400;
}

/* ------------------------------------------- */
/* ------- ATRIBUTOS PREESTABLECIDOS --------- */
/* ------------------------------------------- */
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var( --color-light-gray);
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}

::selection {
    background-color: var(--color-transparent-red);
    color: var(--color-white);
}

#root {
    display: flex;
    justify-content: center;
}

/* MODO OSCURO */
body.dark-mode {
    background-color: var( --color-bluish-black);
}

body * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var( --color-text);
    fill: var( --color-text);
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}

h1 {
    font-size: var(--ff-900);
    font-weight: 700;
}

h2 {
    font-size: var(--ff-600);
    font-weight: 400;
}

h3 {
    font-size: var(--ff-500);
    font-weight: 400;
}

main {
    overflow: hidden;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > h1,
section > h2,
section > h3 {
    text-align: center;
}

svg {
    width: 2.5rem;
    height: 2.5rem;
}

iframe {
    box-shadow: var(--shadow);
}

.nav-logo-color,
.nav-logo-white {
    transition: transform 0.2s, opacity 0.5s;
}

.nav-logo-color {
    z-index: 1;
}

.nav-logo-white {
    z-index: 0;
    opacity: 0;
}

.dark-mode .nav-logo-color {
    z-index: 0;
    opacity: 0;
}

.dark-mode .nav-logo-white {
    z-index: 1;
    opacity: 1;
}

/* ------------------------------------------- */
/* ------- ADAPTACIÓN A DISPOSITIVOS --------- */
/* ------------------------------------------- */
/* Interacción móvil */
@media only screen and (max-width: 500px) {
    body {
        --ff-900: 2.625rem;
        --ff-600: 1.5rem;
        --ff-400: 1.125rem;
    }

    body.body-overflow-y {
        overflow-y: hidden;
    }

    section > h2 {
        padding: 0 4.5rem;
    }

    .bar-button {
        font-size: 1.5rem;
        transition: background-color 0.5s;
    }

    .bar-button * {
        transition: color 0.3s, transform 0.5s, fill 0.15s;
    }

    .bar-button:active {
        background-color: var( --bar-btn);
        transition: 0s;
    }

    .bar-button:active * {
        color: var(--color-white);
        fill: var(--color-white);
        transform: scale(96%);
        transition: 0s;
    }
}

/* Interacción de escritorio */
@media only screen and (min-width: 500px) {
    .bar-button {
        height: 4rem;
        transition: background-color 0.5s;
    }

    .bar-button * {
        transition: color 0.3s, transform 0.5s, fill 0.15s;
    }

    .bar-button:hover {
        background-color: var( --bar-btn);
    }

    .bar-button:hover * {
        color: var(--color-white);
        fill: var(--color-white);
        transform: scale(96%);
    }
}

/* Redimensionamiento desde pantallas pequeñas */
@media only screen and (min-width: 750px) {
    section > h1 {
        padding: 0 4rem;
    }

    section > h2 {
        padding: 0 8rem;
    }
}

@media only screen and (min-width: 900px) {
    section > h1 {
        padding: 0 8rem;
    }

    section > h2 {
        padding: 0 12rem;
    }
}

@media only screen and (min-width: 1020px) {
    .bar-button {
        font-size: var(--ff-300);
    }

    section > h1 {
        padding: 0 4rem;
    }

    section > h2 {
        padding: 0 16rem;
    }
}